<!--letakkan kode ads di bawah baris ini-->
<div id='fixedban' style='width:100%;margin:auto;text-align:center;float:none;overflow:hidden;display:scroll;position:fixed;bottom:0;z-index:999;-webkit-transform:translateZ(0);'>
	<div>
		<a id='close-fixedban' onclick='document.getElementById("fixedban").style.display = "none";' style='cursor:pointer;width:10px;height:10px'><img alt='close' src='https://yess-online.com/close.png' title='close button' style='cursor:pointer;width:10px;height:10px;vertical-align:middle;'/></a>
	</div>
	<div style='text-align:center;display:block;max-width:728px;height:auto;overflow:hidden;margin:auto'>
		<script type="text/javascript">
	atOptions = {
		'key' : 'e2ef8755144ee0662a531b0cf8a744ce',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://joyfullysacrificeralph.com/e2ef8755144ee0662a531b0cf8a744ce/invoke.js"></scr' + 'ipt>');
</script>
	</div>
</div>